In [17]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
df = pd.read_csv("heart.csv")

df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [18]:
x = df[['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal']]
y = df['target']

x_train ,x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=19)

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

mean_values = scaler.mean_
std_values = scaler.scale_

print("Mean values:", mean_values)
print("Standard deviation values:", std_values)

Mean values: [5.43573171e+01 6.84146341e-01 9.48780488e-01 1.31579268e+02
 2.45909756e+02 1.54878049e-01 5.26829268e-01 1.49124390e+02
 3.36585366e-01 1.10060976e+00 1.37926829e+00 7.76829268e-01
 2.32926829e+00]
Standard deviation values: [ 9.02126932  0.46485495  1.03113055 17.33274947 51.56203134  0.36178839
  0.53008255 22.82086423  0.4725417   1.19453517  0.6178716   1.05585462
  0.61396111]

In [19]:
poly_features = PolynomialFeatures(degree=3)

x_train_poly = poly_features.fit_transform(x_train)
x_test_poly = poly_features.transform(x_test)

In [20]:
lag = LinearRegression()
lag.fit(x_train_poly,y_train)

y_pred = lag.predict(x_test_poly)

In [21]:
r2 = r2_score(y_test, y_pred)
print("R² Score:", r2)

R² Score: 0.9927824234080573